* {
    margin:0;
    font-family: Arial;
    border:border-box;
}

.navbar {
    height:60px;
    background-color:#0f1111;
    width:100%;
    color:white;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.nav-logo {
    height:50px;
    width:100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100%;
}

.border{
    border:1px solid transparent;
}

.border:hover{
    border:1px solid white;
}


/* Box 2 */

#add-first{
    color:#cccccc;
    font-size:0.6rem;
    margin-left:24px;

}

#add-second{
    font-size:1 rem;
    margin-left:1px;

}

.add-icon {
    display:flex;
    align-items:center;
}

.nav-address{
    width:89px;
    height: 40px;
    border: none;
    padding-top:5px;
    margin:5px 2px 2px 5px;
    
    
}

/* Box 3 */
.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color: pink;
    width:650px;
    height:40px;
    border-radius:5px;
    /* margin-left: */


}

.search-select{

    background-color: #f3f3f3;
    width:50px;
    height:40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input {
    width:100%;
    padding-top:7px;
    padding:10px;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:50px;
    height:40px;
    background-color: rgb(230, 159, 37);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:#0f1111
    
    
}

.nav-search:hover {
    border:2px solid orange;
}

.acc-list{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #0f1111;
    border:none;
}


/* box-4 */
.nav-signin {
    padding:7px;
}

span {
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-second {
    font-size:0.9rem;
    font-weight: bold;
}


.nav-return {
    padding:7px;
}

.return {
    font-size:0.85rem;
    font-family:Arial, Helvetica, sans-serif;
}

.order {
    font-size:0.9rem;
    font-weight: bold;
}

/* box-6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.9rem;
    font-weight: bold;
    padding:8px;
}

.panel {
    background-color:#232F3E;
    height: 39px;
    width:100%;
    color:white;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}
.items-panel i {
    font-size:1rem;
}
.items-panel {
    padding:10px;
    margin-left:45px;
    font-size:0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display:inline-flex
}

.panel-ops {
    font-size:0.85rem;
}
p1 {
    margin-left:8px;
    margin-right: 8px;
    padding-top:7px;
    padding-bottom: 7px;
    padding-right: 2px;
    padding-left: 2px;
}

.panel-deals{
    margin-left:570px;
    font-size: 0.85rem;
    font-weight:600;
    padding:7px;
}


/* hero-section */
.hero-section {
    background-image: url("hero_image.jpg");
    width:100%;
    height:320px;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    background-size:110%;
    background-position: top;
    background-position-x: center;
}

.hero-msg{
    width:96%;
    height:34px;
    background-color: #f3f3f3;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}

.hero-msg a{
    text-decoration:none;
    color: #007185;
    margin-left:3px;
}

/* shop-section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 68, 0, 0.787);
    height:500px;
}


.box {
    height:400px;
    width:20%;
    display:flex;
    flex-direction:column;
    background-color:white;
    align-items:flex-start;
    justify-content: center;
    padding:20px;
   
}

.box1-image{
    height:320px;
    width:290px;
    margin-top:12px;
    margin-bottom: 25px;
    
}

.boxes-4 {
    margin:23px;
}

.left-boxes {
    margin-left:-23px;
    margin-right: 20px;
}

.right-boxes {
    margin-left:-10px;
    
}

.box2 a {
    padding:5px;
    margin-top:10px;

}


/* shop-section2 */

.shop-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top:50px;
    margin-bottom: 50px;
    
}

.outer-div {
    height:600px;
    width:100% ;
    background-color: #e8d8d8;
    background: linear-gradient(to bottom, rgb(242, 101, 14), #ffffff);
    height: 700px;
}

.sign-in {
    height:150px;
    width:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:11px;
    padding-bottom: 10px;
}

.sign-in-button {
    background-color: #fde423;
    font-size: 0.95rem;
    border:none;
    width:15%;
    height:37px;
    border-radius: 20px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 11px;
    padding-left: 11px;
    margin-bottom: 10px;
}

.back-to-top {
    height:20px;
    width:100%
}


.Footer1 {
    height:50px;
    width:100%;
    /* background-color:black; */
}

.back-to-top {
    height:50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:10px;
    text-decoration: none;
}


.Footer2 {
    height:500px;
    background-color:#232F3E;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:20px;
}


.one {
    display:flex;
    flex-direction: column;
    color:white;
    margin-top: 50px;
    gap: 13px;
    

}

.one a {
    color:rgb(187, 187, 187);
    text-decoration: none;
    font-size:small
}

.two {
    display:flex;
    flex-direction: column;
    color:white;
    margin-top: 50px;
    gap: 13px;
    
}

.two a {
    color:rgb(187, 187, 187);
    text-decoration: none;
    font-size:small;
}


.three {
    display:flex;
    flex-direction: column;
    color:white;
    margin-top: 50px;
    gap: 13px;
    
}

.three a {
    color:rgb(187, 187, 187);
    text-decoration: none;
    font-size:small;
}


.two a:hover {
    text-decoration:underline 1px;
    color:rgb(187, 187, 187);

}

.one a:hover {
    text-decoration:underline 1px;
    color:rgb(187, 187, 187);

}

.three a:hover {
    text-decoration:underline 1px;
    color:rgb(187, 187, 187);
}

.four {
    display:flex;
    flex-direction: column;
    color:white;
    margin-top: 50px;
    gap: 13px;
    
}

.four a{
    color:rgb(187, 187, 187);
    text-decoration: none;
    font-size:small;
}

.four a:hover {
    text-decoration:underline 1px;
    color:rgb(187, 187, 187);
}


hr {
    background-color:#51657e;
    margin-top:-120px;
    opacity: 15%;
}


.amazon-photo {
    background-image: url("amazon_logo.png");
    height:40px;
    width:100px;
    background-size: cover;
    margin-left:430px;
    margin-top:30px;
     margin-bottom: 10px;
}


.footer3 {
    display: flex;
    /* justify-content:center; */
    align-items: center;
    margin-bottom:25px;

}

.english {
    background-color: #232F3E;
    height:35px;
    width:100px;
    color:white;
    margin-left:50px;
    margin-top:45px;
     margin-bottom: 10px;
    padding:5px;
    border: rgba(149, 146, 146, 0.965) 1px solid;
    border-radius:2px;
}

.inr {
    background-color: #232F3E;
    height:35px;
    width:200px;
    color:white;
    margin-left:20px;
    margin-top:45px;
     margin-bottom: 10px;
    padding:5px;
    border: rgba(165, 161, 161, 0.965) 1px solid;
    border-radius:2px; 
}

.usa {
    background-color: #232F3E;
    height:35px;
    width:150;
    color:white;
    margin-left:20px;
    margin-top:45px;
    margin-bottom: 10px;
    padding:5px;
    border: rgba(165, 161, 161, 0.965) 1px solid;
    border-radius:2px; 
}


.footer4 {
    height: 420px;
    background-color:#131a23;
    display: flex;
    justify-content: space-evenly;
    padding-left:140px;
    padding-right: 140px;
}


.one-1 {
    display: flex;
    flex-direction: column;
    gap:2px;

    
}

.row-1 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:-90px;
}

.one-1:hover {
    text-decoration: underline grey 1px;
}

.two-2 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.three-3 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.row-2 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px;
}

.four-4 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.five-5 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.six-6 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}


.seven-7 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}


.row-3 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px;
}

.eight-8 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.nine-9 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.ten-10 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.eleven-11 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.row-4 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px;  
}

.tweleve-12 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.thirteen-13 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.fourteen-14 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.fifteen-15 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.row-5 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px; 
}

.sixteen-16 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.seventeen-17 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.eighteen-18 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.ninteen-19 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.row-6 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px;
}

.twenty-20 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.twentyone-21 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.twentytwo-22 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.row-7 {
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top:-13px;
}


.twentythree-23 {
    display: flex;
    flex-direction: column;
    gap:2px;
}

.twentyfour-24 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.twentyfive-25 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:-90px;
}

.two-2:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.three-3:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.four-4:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.five-5:hover {
    text-decoration: underline rgb(204, 202, 202) 1px;
}

.six-6:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.seven-7:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.eight-8:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.nine-9:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.ten-10:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.eleven-11:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.tweleve-12:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}


.thirteen-13:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.fourteen-14:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.fifteen-15:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.sixteen-16:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.seventeen-17:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.eighteen-18:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.ninteen-19:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twenty-20:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twentyone-21:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twentytwo-22:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twentythree-23:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twentyfour-24:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.twentyfive-25:hover {
    text-decoration: underline  rgb(204, 202, 202) 1px;
}

.footer-5 {
    background-color: #131a23;
    color: rgb(208, 203, 203);
    display: flex;
    justify-content: center;
    gap:5px;
    height:80px;
    font-size: 0.85rem;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
}

.footer-05 a {
    text-decoration: none;
    color:#cccccc
}

.footer-05 a:hover {
    text-decoration: underline rgb(216, 214, 214) 1px;
}